.add-contact-form {
  display: none;
  border: 2px solid black;
  border-radius: 8px;
  width: 500px;
  z-index: 2;
}

.update-contact-form {
  display: none;
  border: 2px solid black;
  border-radius: 8px;
  width: 500px;
  z-index: 2;
}