body {
  z-index: 1;
}

.single-contact, .update-contact-form, .add-contact-form {
  position: fixed;
  top: 20%;
  left: 35%;
  background: #ffffff;
  padding: 30px;
  border: 2px solid black;
  border-radius: 8px;
  width: 500px;
  z-index: 2;
}

