<!DOCTYPE html>
<html lang="en" ng-app="AddressBook">
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/addressbook.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/contactsController.js"></script>
    <script src="js/updateFactory.js"></script>
  </head>
  <body ng-controller="ContactsController as contactCtrl">
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="contactCtrl.searchTerm">
        <button class="btn search-button" ng-click="contactCtrl.searchForContact()">Search</button>
        <button class="btn add-contact-button" ng-click="contactCtrl.showAddContacts()">Add Contact</button>
      </form>
      <div ng-show="contactCtrl.showMessage" class="messages">{{ contactCtrl.result }}</div>
      <div class="all-contacts">
        <ul class="list-group list-unstyled">
          <li class="list-group-item" ng-repeat="contact in contactCtrl.contactsList | orderBy: 'surname'">
            <ul class="list-unstyled">
              <li>{{ contact.first_name }}</li>
              <li>{{ contact.surname }}</li>
              <li>{{ contact.address }}</li>
              <li>{{ contact.phone_number }}</li>
              <li>{{ contact.email }}</li>
            </ul>
          </li>
        </ul>
      </div>

      <div ng-include="'partials/single_contact.html'" class="single-contact" ng-show="contactCtrl.showSingleContact">
      </div>
    </div>

    <div ng-include="'partials/add_contacts_form.html'" class="add-contact-form" ng-show="contactCtrl.showAddForm">
    </div>

    <div class="update-contact-form" ng-show="contactCtrl.showUpdateForm">

    </div>
  </body>
</html>
