<!DOCTYPE html>
<html lang="en" ng-app="AddressBook">
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/contactsController.js"></script>
  </head>
  <body ng-controller="ContactsController as contactCtrl">
    <div>
        <form class="form-horizontal">
          <input type="text" ng-model="contactCtrl.searchTerm">
          <button class="btn search-button" ng-click="contactCtrl.searchForContact()">Search</button>
          <button class="btn all-contacts-button" ng-click="contactCtrl.showAllContacts()">Show All Contacts</button>
        </form>
        <div class="allContacts">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="contact in contactCtrl.contactsList | orderBy: 'surname'">
              <ul>
                <li>{{ contact.first_name }}</li>
                <li>{{ contact.surname }}</li>
                <li>{{ contact.address }}</li>
                <li>{{ contact.phone_number }}</li>
                <li>{{ contact.email }}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="singleContact">
          <ul>
            <li>{{ contactCtrl.contact.first_name }}</li>
            <li>{{ contactCtrl.contact.surname }}</li>
            <li>{{ contactCtrl.contact.address }}</li>
            <li>{{ contactCtrl.contact.phone_number }}</li>
            <li>{{ contactCtrl.contact.email }}</li>
          </ul>
        </div>
      </div>
  </body>
</html>
